{% if include.height %}
    {% assign height = include.height %}
{% else %}
    {% assign height = site.codepen_height %}
{% endif %}

{% if include.user %}
    {% assign user = include.user %}
{% else %}
    {% assign user = site.codepen_username %}
{% endif %}

<p data-height="{{ height }}" data-theme-id="{{ site.codepen_theme }}" data-slug-hash="{{ include.pen }}" data-default-tab="result" class='codepen'>
    See the Pen <a href='http://codepen.io/{{ user }}/pen/{{ include.id }}' target='_blank'>http://codepen.io/{{ user }}/pen/{{ include.id }}</a>
</p>
