/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin-top: $spacing-unit;
}

h1:first-child {
    margin-top: 0;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 4;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1 {
    font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
    color: $text-color !important;
    text-decoration: none;
    position: relative;

    &:before, &:after {
        content: '';
        height: 2px;
        background: $brand-color;
        width: 100%;
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: translate3d(0, 0, 0);
        opacity: 1;
        transition: all .2s ease;
    }

    &:after {
        opacity: 0;
        background: black;
        width: 0;
    }

    &:hover {
        &:after {
            opacity: 1;
            width: 100%;
        }
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-dark;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-dark;
    border-radius: 3px;
    background-color: $grey-color-light;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

@keyframes textRotate {
    0% {
        border-right-color: rgba(1, 1, 1, 0);
    }
    100% {
        border-right-color: rgba(1, 1, 1, 1);
    }
}

body > header {
    background-color: $brand-color;
    box-sizing: border-box;
    align-items: center;
    padding: 10%;
    font-size: 14px;
    position: relative;
    z-index: 9999;
    @include flexbox();

    .text-rotate {
        border-right: 2px solid rgba(1, 1, 1, 1);
        animation: 1s textRotate linear infinite;
        padding: 5px 0px;
        background: rgba(1, 1, 1, 0.1);
    }

    h2 {
        position: absolute;
        bottom: 10px;
        right: 30px;
        font-size: 14px;
    }
}

.front > header {
    background-image: url(/images/me.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;

    h1 {
        font-size: 24px;
    }
}

.front .articles article {
    max-width: 50%;
}

.default > header {
    height: 60px;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    padding: 0 30px;

    h1 {
        font-size: 14px;
        line-height: 14px;
        margin: 0;
        margin-right: 5px;
    }
}

main {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(stretch);

    section {
        padding: 5% 10%;
        @include flex(1);
    }

    section:nth-child(2) {
        background-color: #dfdfdf;
    }
}

.front {
    p {
        max-width: $content-width;
    }

    main h1 {
        margin-top: 10%;

        &:first-child {
            margin-top: 0;
        }
    }
}

.default main {
    padding-top: 60px;
    box-sizing: border-box;
}

.articles {
	width: 100%;
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(flex-start);

    article {
        max-width: 30%;
        min-width: 250px;
        margin-bottom: 5%;
		@include flex(1);
		@include flex-basis(250px);

        ul {
            max-width: 80%;
        }

        div {
            margin-bottom: $spacing-unit / 8;
        }
    }
}

.line {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: $brand-color;
    opacity: 1;
    visibility: visible;
    z-index: 9999;

    &[hide=true] {
        opacity: 0;
        visibility: hidden;
    }
}

nav {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1003;
    -webkit-user-select: none;
    user-select: none;

    input {
        display: block;
        opacity: 0;
        cursor: pointer;
        -webkit-touch-callout: none;
        z-index: 9999;
        position: absolute;
        top: -10px;
        right: 0;
        width: 30px;
        height: 30px;
    }

    span {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9998;
        background: black;
        height: 2px;
        width: 30px;

        &:after, &:before {
            content: '';
            position: absolute;
            height: 2px;
            width: 30px;
            background: black;
            right: 0px;
            transition: all .2s ease;
        }

        &:before {
            top: 8px;
        }

        &:after {
            bottom: 8px;
        }
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 9993;
        align-items: center;
        transform: translate3d(100%, 0, 0);
        transition: all 0.2s ease;
        background: white;
        padding: 20px 10%;
        box-sizing: border-box;
        @include flexbox();
        @include flex-flow(column wrap);
        @include justify-content(space-between);

        ul {
            list-style: none;
            margin: 0;
            font-size: 42px;
        }

        li {
            transform: translate3d(300%, 0, 0);
            transition: all .8s ease;
        }

        a {
            color: black;
        }

        .spacer {
        }

        ul:nth-child(3) {
        }

    }

    .darken {
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .2s ease;
    }

    input:checked {
        &~ span {
            &:before {
                transform: rotate(-45deg);
                width: 10px;
                top: 3px;
                right: -1px;
            }
            &:after {
                transform: rotate(45deg);
                width: 10px;
                bottom: 3px;
                right: -1px;
            }
        }

        &~ .menu {
            transform: translate3d(0, 0, 0);

            li {
                transform: translate3d(0, 0, 0);
            }

            li:nth-child(2) {
                transition-delay: .1s;
            }
            li:nth-child(3) {
                transition-delay: .2s;
            }
            li:nth-child(4) {
                transition-delay: .3s;
            }
            li:nth-child(5) {
                transition-delay: .4s;
            }
        }

        &~ .darken {
            opacity: 1;
            visibility: visible;
        }
    }
}

.social {
    max-width: 100px;
    width: 100%;
    height: 24px;
    list-style: none;
    @include flexbox();
    @include justify-content(space-around);

    .icon {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        width: 24px;
        height: 24px;
        text-indent: -9000px;
        &:after, &:before {
            display: none;
        }
    }

    .github {
        background-image: url(/images/github.svg);
    }

    .twitter {
        background-image: url(/images/twitter.svg);
    }

    .rss {
        background-image: url(/images/rss.svg);
    }
}

footer {
    background-color: #dfdfdf;
    background-image: url(/images/me-gray.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80% 50%;
    padding: 5% 10%;

    p {
        max-width: $content-width;
        margin-bottom: $spacing-unit / 2;
    }
}

.back {
    margin-bottom: $spacing-unit;
}

.back span {
    position: relative;
    height: 2px;
    background: $footer-background-color;
    width: $spacing-unit;
    display: inline-block;
    margin-right: 5px;
    bottom: 2px;

    &:before, &:after {
        width: 10px;
        content: '';
        position: absolute;
        left: -1px;
        height: 2px;
        transform: rotate(45deg);
        background: $footer-background-color;
    }

    &:before {
        top: 3px;
    }

    &:after {
        transform: rotate(-45deg);
        bottom: 3px;
    }
}

.post-list {
    h2 {
        margin-top: 0;
    }

    li {
        margin-bottom: $spacing-unit;

        p {
            max-width: $content-width;
        }
    }
}
