<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="front">
    {% include start.html %}
    <div class="line"></div>
    <main>
        <section>
            <h1>Recent posts</h1>
            <div class="articles">
                {% for post in site.posts limit:2 %}
                    <article>
                        <h2>{{ post.title }}</h2>
                        <div>{{ post.description | truncatehtml }}</div>
                        <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
                    </article>
                {% endfor %}
            </div>
            <a href="{{ "/posts" | prepend: site.baseurl }}">See all posts</a>
        </section>
        <section id="about-me">
            {{ content }}
        </section>
    </main>
    {% include async.html %}
  </body>
</html>
